vti_encoding:SR|utf8-nl
vti_author:SR|LCLMTL\\CarineC
vti_modifiedby:SR|LCLMTL\\CarineC
vti_timelastmodified:TR|27 Jun 2005 12:27:09 -0000
vti_timecreated:TR|27 Jun 2005 12:27:09 -0000
vti_lineageid:SR|{BD5C103C-71B6-41E4-8154-917F4CF13495}
vti_cacheddtm:TX|27 Jun 2005 12:27:09 -0000
vti_filesize:IR|4203
vti_extenderversion:SR|5.0.2.5012
vti_backlinkinfo:VX|
